* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
